{# templates/equipement/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Equipements{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Equipements</h1>

    <table class="table" style="border: 1px solid black; border-collapse: collapse; background-color: white;">
        <thead>
            <tr>
                <th style="color: blue;">ID</th>
                <th style="color: blue;">Nom d'équipe</th>
                <th style="color: blue;">Nombre</th>
                <th style="color: blue;">type</th>
                <th style="color: blue;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for equipement in equipements %}
                <tr>
                    <td>{{ equipement.id }}</td>
                    <td>{{ equipement.nomEquipe }}</td>
                    <td>{{ equipement.Nbr }}</td>
                    <td>{{ equipement.type }}</td>
                    <td>
                        <a href="{{ path('app_equipement_show', {'id': equipement.id}) }}" style="background-color: green; color: white;" class="btn">Voir</a>
                       <!-- <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}" style="background-color: orange; color: white;" class="btn">Modifier</a>-->
                       <!-- {{ include('equipement/_delete_form.html.twig', {'equipement': equipement}) }}-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   <a href="{{ path('app_reclamation_new') }}" style="background-color: green; color: white;" class="btn">Ajouter reclamation </a>
    
{% endblock %}
