{% extends 'base1.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;"> <!-- Centre le contenu et ajoute un espacement au-dessus -->

    <h1>Liste des réservation</h1>
<br>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>NumeroTelephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.numeroTelephone }}</td>
                <td>
                    <a href="{{ path('app_reservation_admin_show', {'id': reservation.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
